{% extends 'base.html' %}
{% load static %}
{% load markdownify %}

{% block content %}
<main class="recipe-detail">
  <div>
    <a href="{% url 'meal_plans_edit' mealplan.id %}">Edit</a>
    <a href="{% url 'meal_plans_delete' mealplan.id %}">Delete</a>
  </div>
  <p>{% for recipe in mealplan.recipes.all %}
     {{ recipe.name }}</a>
     </p>
  <h1>{{ meal_plans.name }}</h1>
  <h2>by: {{ mealplan.owner | default_if_none:"Unknown" }}</h2>
  <h2>Created on: {{ mealplan.date }} | Updated on: {{ mealplan.date }} </h2>
  <h2>Servings: 4 </h2>
  {% if recipe.image %}
   <img src="{{ recipe.image }}" alt="image of food" class="pull-right">
  {% endif %}

  
  <p>Description: {% for mealplan in mealplan.tags.all %}{{ tag.word }} {% endfor %}</p>
  {{ recipe.description | markdownify }}

    
     {% endfor %}
  </main>
  {% endblock content %}
